.select span.main {
  display: inline-block;

  border: 1px solid red;
  position: relative;
  padding: 5px;
}

.items {
  border: 1px solid black;
  position: absolute;
  padding: 5px;
}

.item {
  cursor: pointer;
}

.item.selected {
  background-color: cornflowerblue;
}

.item:hover {
  background-color: red;
}

.select.active .items{
  display: block;
}